.gridItems li {
    list-style: none;
    max-width: fit-content;
  }
  
  .gridItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1rem));
    gap: 1rem;
    padding: 10px;
    justify-content: center;
  }
  
  .gridItems a {
    text-decoration: none;
  }
  
  @media screen and (max-width: 300px) {
    .gridItems {
      grid-template-columns: 100%;
    }
  }