:root {
  --pumpkin-50: #fff9ec;
  --pumpkin-100: #fff2d3;
  --pumpkin-200: #ffe1a5;
  --pumpkin-300: #ffca6d;
  --pumpkin-400: #ffa732;
  --pumpkin-500: #ff8c0a;
  --pumpkin-600: #ff7300;
  --pumpkin-700: #cc5302;
  --pumpkin-800: #a1400b;
  --pumpkin-900: #82370c;
  --pumpkin-950: #461904;
  --background: #f2f2f2;
  --background-dark: #252525;
  --primary-color: white;
  --primary-color-dark: #121212;
  --text-primary-color: white;
  --text-secondary-color: black;
  --pagination-active-text:#333333;
  --pagination-active-border:#dddddd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body,
html {
  background-color: var(--background);
  scroll-behavior: smooth;
}

body {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}



.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 20px 10px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 7px;
  border-radius: 5px;
  width: 100%;
 
}

#search-input{
  color: #999;

}

.search-container i {
  margin: 0.3rem;
  color: #999;
  cursor: pointer;
}

.fade-out {
  animation: fadeOutLeft 0.1s ease forwards;
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 0.1s ease forwards;
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  color: #333;
  width: 100%;
}

.search-container input::placeholder {
  color: #999;
}

.menu-content {
  z-index: 9999;
  position: fixed;
  display: flex;
  top: 0;
  left: -150%; /* Cambiamos el valor de -200px a -100% */
  width: 100%; /* Cambiamos el valor de 200px a 100% */
  height: 100vh;
  transition: left 0.5s ease;
  background-color: rgba(
    194,
    194,
    194,
    0.5
  ); /* Cambia el valor del color a tu preferencia y ajusta la opacidad */
  backdrop-filter: blur(
    2px
  ); /* Ajusta el valor de desenfoque según tus necesidades */
}

.menu-content.active {
  left: 0;
}

.menu-items {
  top: 0;
  left: -200px;
  width: 300px;
  height: 100vh;
  background-color: var(--primary-color);
  padding: 15px;
  padding-left: 30px;
  color: var(--text-secondary-color);
}
.close-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-btn i {
  font-size: 24px;
  color: #999;
}

.menu-content.active {
  left: 0;
}

.menu-items ul {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 20px 0;
}

.menu-items ul > li {
  display: flex;
  gap: 20px;
  padding: 7px;
  margin: 5px;
}

.menu-items ul > li:hover {
  color: var(--pumpkin-700);
}

.menu-items ul > li > a {
  font-size: 1.2rem;
  font-weight: 600;
  margin: -3.5px;
}

.logo {
  width: 150px;
}

/* Body posts */
.body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.post-principal-container {
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-principal-container img {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}

.post-principal-container h3,
.post-principal-container p {
  padding: 10px;
  margin: 0;
  white-space: normal; /* Mostrar saltos de línea */
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-principal-containerh3 {
  font-size: 20px;
}

.post-principal-container p {
  font-size: 16px;
}
/*              carrusel                */
.carousel {
  width: 100%;
  height: 300px;
  
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-item .text-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 60%;
  gap: 20px;
  color: var(--text-primary-color);
  position: absolute;
  bottom: 30%;
  left: 20px;
  /* transform: translate(-50%, 50%); */
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 10px;
  border:  1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
}

.dot.active {
  background-color: #333;
  transform: scale(1.2);
}

/* Estilos para hacer el carrusel responsive */

/* blog */
.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.blog-card {
  height: 295px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem #00000026;
  cursor: pointer;
}

.blog-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease 0.5s;
  position: relative;
}



.blog-card-brightness {
  filter: brightness(50%); /* Ajusta aquí el nivel de oscurecimiento */
}
.blog-card .post-principal-container-titulo {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: var(--text-primary-color);
  background: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 64%));
  max-height: 80px;
  white-space: nowrap;
  line-height: 3rem;
  border-radius: 10px;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-card .show-tittle{
  display: none;
}
/* .blog-card .post-principal-container-titulo:hover {
    color: var(--pumpkin-700);

  } */
.blog-card:hover img {
  transform: scale(1.1);
}

.tags {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}


.tags ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.tags li {
  background-color: var(--pumpkin-50);
  color: #333333;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 10px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  opacity: 1;
}

.tags li:hover {
  background-color: var(--pumpkin-100);
  opacity: 1;
}

.show-tags {
  display: block;
}
.more-tags {
	z-index: 2;
	position: absolute;
	right: 0;
	margin: 7px;
	height: 31px;
  color: var(--text-primary-color);
	background: rgba(0, 0, 0, 0.3);
	font-size: 25px;
	border-radius: 4px;
	transition: ease 1s;
}

.more-tags:hover {
  transform: scale(1.2);
}
.button {
  background-color: var(--pumpkin-500);
  color: var(--text-primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--pumpkin-600);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--pumpkin-300);
}

.button:active {
  background-color: var(--pumpkin-700);
}

.btn-menu {
  width: 100%;
}

.btn-carusel {
  max-width: 150px;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
 
}

.pagination a {
  color: var(--pagination-active-text);
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin: 0 4px;

}

.pagination a:hover {
  background-color: #dddddd;
}

.pages .page {
  color: var(--pagination-active-text);
}

.pages .page.active {
  color: var(--text-primary-color); 
  font-weight: bold;
  background-color: var(--pumpkin-500);
}

.bbtns a.disabled{
  color: #949393;
  background-color: transparent;
}

.hide {
  display: none;
}
/* menu derecho */




.modonoche{
  position: absolute;
}
#modoNocheBtn{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  left: 260px;
  background-color: transparent;
  border: 0 ;
cursor: pointer;
}

.menu-content-right {
  height: auto;
  min-width: 100%;
  max-width: 100%;
  margin: 20px 10px;
}

.menu-content-right h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--text-primary-color);
}

.votes-list {
  padding: 0;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.vote-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}


.vote-item img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.vote-info h3 {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-secondary-color);

}

.vote-info p {
  font-size: 14px;
  color: var(--text-secondary-color);
  font-weight: 600;
  word-break: break-word;
  hyphens: auto;

}

.vote-info span {
  color: var(--pumpkin-500);
  font-size: 10px;
}

@media (min-width: 992px) and (max-width: 1024px)  {
  .blog-card {
    height: 200px; 
  }
}

@media (min-width: 992px) {
  body {
    flex-direction: row;
    max-width: 1200px;
  }

  .menu-content {
    position: sticky;
    top: 20px;
    left: 0%; /* Cambiamos el valor de -200px a -100% */
    width: 300px; /* Cambiamos el valor de 200px a 100% */
    height: 500px;
    background-color: transparent; /* Cambia el valor del color a tu preferencia y ajusta la opacidad */
    backdrop-filter: none; /* Ajusta el valor de desenfoque según tus necesidades */
    margin: 20px 10px;
  }

  .menu-items {
    height: auto;
    border-radius: 10px;
  }
  .close-btn,
  .menu {
    display: none;
  }
  .blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    margin: 0 auto;
  }
  .menu-content-right {
    min-width: 200px;
    max-width: 200px;
  }


}



